body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background: linear-gradient(90deg, #0700b8 0%, #0f8 100%);
  color: #433ec2;
}

.container {
  text-align: center;
  width: 90%;
  max-width: 320px;
  background-color: #97afdc;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

input[type="text"] {
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 10px;
  margin-top: 10px;
  border-radius: 10px;
  border: 2px solid lightblue;
}

button {
  padding: 10px 25px;
  margin: 10px 5px;
  cursor: pointer;
  color: white;
  background-color: #433ec2;
  border: none;
  border-radius: 10px;
}

#results-div {
  margin-top: 20px;
  padding: 10px;
  border: 1px solid lightblue;
  border-radius: 5px;
  background-color: #f9f9f9;
}
