body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-image: url(./heres-a-handy-checklist-of-what-to-do-when-you-change-your-phone-number-main.jpg);
  color: #070606;
}

.container {
  text-align: center;
  width: 90%;
  max-width: 320px;
  background-color: #03fd88;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

input[type="text"] {
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 10px;
  margin-top: 10px;
  border-radius: 10px;
  border: 2px solid rgb(254, 173, 246);
}

button {
  padding: 10px 25px;
  margin: 10px 5px;
  cursor: pointer;
  color: rgb(10, 10, 10);
  background-color: #fe9df6;
  border: none;
  border-radius: 10px;
}

#results-div {
  margin-top: 20px;
  padding: 10px;
  border: 1px solid rgb(245, 179, 255);
  border-radius: 5px;
  background-color: #ffffff;
}
